.curso-bg {
  background-color: #000;
  padding-bottom: 2.5rem;
}

.titulo-curso {
 padding-bottom: 20px;
}

.dec-2 p {
  position: relative; 
  padding-left: 25px; 
}

.dec-2 p::after {
  content: "";
  position: absolute;
  left: 0; 
  top: 50%; 
  transform: translateY(-50%);
  width: 5px; 
  height: 5px; 
  border-radius: 50%; 
  background-color: #fff; 
}



.curso-aprender {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.container-imagem {
  width: 100%;
  max-width: 450px;
  height: auto;
}

.container-imagem img {
  width: 100%;
  margin-top: -30%;
  margin-left: 150%;
  object-fit: cover;
}

.curso-botao {
  position: absolute; 
  left: 100px; 
  top: -30px;
  z-index: 1; 
}

.curso-botao::before {
  position: absolute;
  content: "";
  display: flex;
  width: 80px;
  height: 80px;
  background-image: url('https://cdn.pixabay.com/photo/2013/07/12/12/56/cursor-146588_960_720.png');
  background-size: contain;
  background-repeat: no-repeat;
  margin: 10% 85%;
}



@media (max-width: 1200px) {
  .container-imagem img {
    max-width: 300px;
    margin-left: 150%;
    margin-top: -25%;
  
  }

}
@media (max-width: 1000px) {
  .container-imagem img {
    max-width: 200px;
    margin-left: 50%;
    margin-top: -25%;
    object-fit: cover;
  }
  
}

@media (max-width: 680px){
  .curso-botao::before {
    width: 50px;
    height: 50px;
    margin: 5% 85%;
  }
  .curso-botao {
    font-size: 1.3rem;
    left: 20px;
    right: 20px;
  }
  }

  @media (max-width: 400px) {
    .container-imagem img { 
      margin-left: 45%;
      margin-top: -30%; 
    }
  }

  @media (max-width: 380px) {
    .container-imagem img { 
      margin-left: 35%;
      margin-top: -30%; 
    }
  }

