.container {
  max-width: 1600px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}

.margem-baixo {
  margin-bottom: 10px;
}

.margem-baixo-maior {
  margin-bottom: 20px;
}