.maiorbr-bg {
  padding: 20px 20px;
  background-color: #111;
}
.container-maiorbr {
  max-width: 1000px;
  text-align: center;
}


/* mais de */

.maisde-bg {
  background-color: #000;
}

.container-maisde {
  justify-content: center;
  border-radius: 4px;
  padding: 40px 80px;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}

.maisde-item {
  padding: 40px;
  display: flex ;
  align-items: center;
  justify-content: center;
  border-radius: 10px; 
  
  box-shadow: 
              0 0 10px rgb(241, 31, 31); /* Sombra difusa para o efeito de luz */
}

@media (max-width:800px) {
  .container-maiorbr article, .container-feedback {
    line-height: 0.8;
  }
}


  @media (max-width: 820px) {
    .container-maisde {
      gap: 20px;
      padding-top: 40px;
      padding-bottom: 40px;}
  
      .maisde-item article  {
        font-size: 1.2rem;
      }
      .maisde-item {
        padding: 40px 10px;
      }
    }