.perguntas-frequentes-bg {
  padding-top: 40px;
  padding-bottom: 40px;
}
.perguntas-texto {
  text-align: center;
  padding-bottom: 40px;
}

.faq-item {
  margin-bottom: 10px;
}

.faq-question {
  width: 100%;
  padding: 10px;
  background-color: #fff;
  border: none;
  cursor: pointer;
  font-weight: bold;
  display: flex;
  position: relative;
}

.faq-answer {
  display: none;
  padding: 10px;
  background-color: #f9f9f9;
  }

  .faq-question::before {
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url('https://images.vexels.com/media/users/3/136984/isolated/lists/0f7b26b01932f7912bd4351d2286b2af-seta-direita-grossa-1.png');
    background-size: contain;
    background-repeat: no-repeat;
    transition: transform 0.3s ease;
    margin-right: 10px;
  }

  .faq-toggle:checked + .faq-question::before {
    transform: rotate(90deg); 
  }


.faq-toggle:checked + .faq-question + .faq-answer {
  display: block;
}

.faq-question:hover,
.faq-question:active {
  background-color: #ccc;
  border-radius: 10px;
}

div .faq-item input {
  display: none;
}

.rodape article {
  text-align: center;
}